body {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url("./MITIE_05.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

input {
  border: solid white 2px;
  border-radius: 25px;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  font-size: 1.75em;
  font-family: 'Poiret One', cursive;
  text-align: right;
  margin-left: 10px;
  margin-top: 5px;
  width: 300px;
}

form button {
  border-radius: 25px;
  color: white;
  background-color: rgba(185, 255, 35, .5);
  border: none;
  font-size: 1.75em;
  font-family: 'Poiret One', cursive;
  margin-left: 10px;
  margin-top: 5px;
  padding: 5px;
}

input:nth-child(2) {
  padding-right: 15px;
}

#container {
  overflow-y: auto;
  height: 40%;
  background-color: rgba(0,0,0,0.5);
  border-radius: 15px;
  padding: 5px;
  width: 70%;
}

.item {
  display: flex;
  background-color: rgba(185, 255, 35, .5);
  color: white;
  font-size: 1.2em;
  border-radius: 15px;
  padding: 5px;
  height: 30px;
  font-family: 'Poiret One', cursive;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 98%;
}

#labels p:nth-child(4) {
  width: 20%;
}
.item p {
  margin-right: 5px;
  margin-top: 5px;
}

.item p:nth-child(2) {
  width: 50%;
}
.item button {
  border-radius: 25px;
  background-color: rgba(0,0,0,0.5);
  border: none;
  font-family: 'Poiret One', cursive;
  margin-left: 10px;
  padding: 5px;
  font-size: .75em;
  color: white;
  width: 20%;
}
